/** Cloudinary-hosted assets for UC METC SILMS.
 *  Replace the placeholder URLs with your actual Cloudinary URLs after uploading.
 */

// Core Assets
export const COOP_LOGO_URL = 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411919/Coop_tfalpj.jpg';
export const BACKGROUND_IMAGE_URL = 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411910/Background2_yiha6h.jpg';
export const BENEFITS_IMAGE_URL = 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411910/90_b3jepj.jpg';

// Product Images
export const PRODUCT_IMAGES = {
  'Type A & B Uniform': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411934/Type_A_B_cjv11m.jpg',
  'BSNAME Uniform': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411910/BSNAME_Uniform_t5f3hi.jpg',
  'Type C-BSMT': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411935/Type_C-BSMT_flybsr.jpg',
  'Type C-BSMARE': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411935/Type_C-BSMARE_tc7zao.jpg',
  'Type C-SHS': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411936/Type_C-SHS_audf0g.jpg',
  'Lanyard-BSMT': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411918/Lanyard-BSMT_flkdf7.jpg',
  'Lanyard-BSMARE': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411918/Lanyard-BSMARE_s8o6sz.jpg',
  'Lanyard-SHS': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411925/Lanyard-SHS_evtjh4.jpg',
  'Lanyard-HM': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411925/Lanyard-HM_vvkuts.jpg',
  'Lanyard-TM': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411925/Lanyard-TM_kszqmf.jpg',
  'ID Case': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411918/ID_Case_rwu0m8.jpg',
  'Handbag': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411916/Handbag_kidwxt.png',
  'Hardbound': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779412427/Hardbound_zdwsmj.png',
  'Safety Shoes': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411934/Safety_Shoes_u6vnr5.jpg',
  'Coverall': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411919/Coverall_nxg4pb.jpg',
  'Cover All BLUE': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411919/Cover_All_BLUE_wkqw8a.jpg',
  'Gloves': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411915/Gloves_wq9ufb.jpg',
  'Hardhat-Yellow': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411917/Hardhat-Yellow_vdors7.jpg',
  'Hardhat-Blue': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411917/Hardhat-Blue_yft4az.jpg',
  'PE Shirt': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411926/PE_Shirt_txjj9z.jpg',
  'PE Pants': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411926/PE_Pants_ig4xw6.jpg',
  'Pershing Cap': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411926/Pershing_Cap_djqnr3.jpg',
  'Plotting Sheet': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779412427/Plotting_Sheet_o5o6lr.png',
  'Pershing Cap BSMARE': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411926/Pershing_Cap_BSMARE_o9ajft.jpg',
  'PE Shorts': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411931/PE_Shorts_iex6cx.jpg',
  'Buttons': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779412427/Buttons_zm37ba.png',
  'Anchor': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411910/Anchor_yr9ubz.jpg',
  'Propeller': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411931/Propeller_ef3fwh.jpg',
  'Shoulder board 1': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779412427/Shoulder_board_1_nvxuxh.png',
  'Shoulder board 2': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411934/Shoulder_board_2_p3j4ra.jpg',
  'Swimming Trunks': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411934/Swimming_Trunks_tzgpcv.jpg',
  'Cap': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411919/Cap_o6nkbn.jpg',
  'CWTS Shirt': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411910/CWTS_Shirt_rbdbr0.jpg',
  'ROTC Manual': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411931/ROTC_Manual_bfbnxt.jpg',
  'ROTC Manual Part 1': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411933/ROTC_Manual_Part_1_yivmf6.png',
  'Black Belt': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411912/Black_Belt_xeiapc.jpg',
  'White Belt': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411936/White_Belt_is7yzg.jpg',
  'White Shoes ': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411936/White_Shoes_sj4mqv.jpg',
  'Goggles': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411916/Goggles_cgu5ei.jpg',
  'Rope': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411931/Rope_dhbis3.png',
  'Gala Bundle A': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411912/Gala_Bundle_A_yohjue.png',
  'Gala Bundle B': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411912/Gala_Bundle_B_vyw7kd.png',
  'Gala Bundle C': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411913/Gala_Bundle_C_qmq49z.png',
  'Gala Bundle D': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411912/Gala_Bundle_D_qclrgz.png',
  'Gala Bundle E': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411913/Gala_Bundle_E_akzqcg.png',
  'Gala Bundle F': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411914/Gala_Bundle_F_n4fg4t.png',
  'Gala Bundle G': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411914/Gala_Bundle_G_fvp4r0.png',
  'Gala Bundle H': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411915/Gala_Bundle_H_lu1als.png',
  'Gala Bundle I': 'https://res.cloudinary.com/fncjex7d/image/upload/v1779411916/Gala_Bundle_I_mys1ti.png',
} as const;
